/*
==================================
	02 - HEADER BACKGROUND
==================================
*/
.head-bg { background: #1c1c1c; position: relative; padding: 10px; margin-bottom: 50px; }

.head-bg-img { position: absolute; left: 0; top: 0; background: url(../img/fondcv.jpg); height: 100%; width: 100%; background-size: cover; opacity: 0.2; z-index: 1; background-position: center center; }

.head-bg-content { height: 400px; text-align: center; position: relative; z-index: 200; display: table-cell; vertical-align: middle; width: 5000px; }

#content-block .head-bg-content .btn { margin-bottom: 10px; }

.head-bg-content h1 { font-size: 32px; line-height: 40px; color: #FFF; font-family: 'Conv_helveticaneuecyr-bold'; margin-bottom: 17px; }

.head-bg-content p { color: #a1a4af; margin-bottom: 25px; }

.head-bg.style-2 { padding-top: 120px; padding-bottom: 120px; margin-bottom: 0px; }

.head-bg.style-2 .head-bg-img { opacity: 0.5; }

.head-bg.style-2 .head-bg-content { height: 310px; }

.head-bg.style-3 { padding-top: 120px; padding-bottom: 120px; margin-bottom: 0px; background: #181d27; }

.head-bg.style-3 .head-bg-img { opacity: 0.2; }

.head-bg.style-3 .head-bg-content { height: 310px; }

@media screen and (max-width: 1199px) { .head-bg { margin-bottom: 30px; } }

@media screen and (max-width: 480px) { .head-bg-content .btn { display: block; margin-right: 0px; } }

/*
==================================
	               FOOTER
==================================
*/
.footer-top-layout {
    background: #1c1c1c none repeat scroll 0 0;
    color: #ffffff;
    padding: 40px 0;
}
.OurBlog {
    margin-bottom: 32px;
    text-align: center;
}
.footer-top-layout h4 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 21px;
}
.OurBlog > p {
    color: #888888;
}
.post-blog-date::after {
    background: #ffffff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 4px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 50px;
}
.post-blog-date {
    padding-bottom: 25px;
    position: relative;
}

body {
    color: #666666;
    font-family: "Open Sans",sans-serif;
    line-height: 24px;
}

.footer-top-layout [class*="col-sm-"]:first-child {
    padding: 0;
}
.footer-top-layout [class*="col-sm-"] {
    border-right: 2px solid #333333;
    padding: 0 0 0 28px;

}
.footer-top-layout {
    color: #ffffff;
}
.footer-col-item {
    min-height: 140px;
}

address {
    color: #545454;
}


.footer-top-layout [class*="col-sm-"]:last-child {
    border-right: medium none;
}
.footer-top-layout {
    color: #ffffff;
}
body {
    color: #666666;
    font-family: "Open Sans",sans-serif;

}
.footer-top-layout h4 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 21px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 0;
}
body {
    color: #666666;
    font-family: "Open Sans",sans-serif;
    line-height: 24px;
}
.footer-col-item .item-contact a {
    color: #545454;
    display: inline-block;
    margin-bottom: 7px;
    width: 100%;
}

.footer-col-item .item-contact a .link-id {
    color: #ffffff;
    margin-left: 0;
    margin-right: 6px;
}
.footer-col-item span {
    margin-left: 7px;
}
.footer-col-item .item-contact a {
    color: #545454;
}

.footer-top-layout h4 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 21px;
}
.signUpNewsletter {
    position: relative;
}
.signUpNewsletter .gt-email {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #666666;
    border-radius: 0;
    color: #ffffff;
    height: 52px;
}
.signUpNewsletter .btn-go {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #666666;
    border-style: solid;
    border-width: 0 0 0 1px;
    bottom: 0;
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    width: 52px;
}
.footer-bottom-layout {
    background: #222222 none repeat scroll 0 0;
    padding: 20px 0;
    text-align: center;
}
body {
    background: #1c1c1c;
    color: #666666;
    font-family: "Open Sans",sans-serif;
    line-height: 24px;
}
.socialMedia-footer {
    margin-bottom: 20px;
}
.socialMedia-footer > a {
    display: inline-block;
    margin: 0 8px;
}
.footer-bottom-layout {
    text-align: center;
}

#logoimie{
    width: 200px;
}